@inject Umbraco.Cms.Core.Web.IUmbracoContextAccessor _context
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var stringsDictionary = Umbraco.Content(Guid.Parse("2cfa435c-8d4d-4f65-bc8e-73d0c8e6764e"));

    if (stringsDictionary is null) throw new Exception("siteSettings is null");
}

<header class="header">
            <div class="container">
                <div class="header__inner">
                    <button class="burger" id="burgerButton">
                        <img src="assets/images/icons/burger.svg" alt="menu">
                    </button>
                    <a href="/" class="logo">
                        @stringsDictionary.Value("CompanyName")
                    </a>

                    <nav class="header__navigation navigation">
                        <ul class="navigation__list">
                            <li class="menu-item ">
                                <a href="/Download">@stringsDictionary.Value("Solutions")</a>
                            </li>

                            <li class="menu-item">
                                <a href="delivery.html">@stringsDictionary.Value("Products")</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog.html">@stringsDictionary.Value("Industries")</a>
                            </li>
                            <li class="menu-item">
                                <a href="payment.html">@stringsDictionary.Value("About")</a>
                            </li>
                            <li class="menu-item">
                                <a href="payment.html">@stringsDictionary.Value("Contacts")</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__actions row">
                        <a href="#" class="button">@stringsDictionary.Value("GetInTouch")</a>
                    </div>
                </div>
            
        </header>
        <div class="mobile__nav">
            <header class="header">
                <div class="container">
                    <div class="header__inner">
                        <button class="icon close" id="closeMenu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.0001 9.8183L2.18182 0L0 2.18182L9.8183 12.0001L0.000232995 21.8182L2.18205 24L12.0001 14.1819L21.8182 24L24 21.8182L14.1819 12.0001L24.0002 2.18182L21.8184 1.07288e-06L12.0001 9.8183Z"
                                    fill="white" />
                            </svg>
                        </button>
                        <a href="index.html" class="logo">
                            @stringsDictionary.Value("CompanyName")
                        </a>
                        <div class="header__actions row">
                            <a href="#" class="button">@stringsDictionary.Value("GetInTouch")</a>
                        </div>
                    </div>
            </header>
            <nav class="nav" role="navigation" aria-label="mobile navigation">

                <ul class="navigation__list">
                    <li class="menu-item ">
                        <a href="/Download">@stringsDictionary.Value("Solutions")</a>
                    </li>
                    <li class="menu-item">
                        <a href="delivery.html">@stringsDictionary.Value("Products")</a>
                    </li>
                    <li class="menu-item">
                        <a href="blog.html">@stringsDictionary.Value("Industries")</a>
                    </li>
                    <li class="menu-item">
                        <a href="payment.html">@stringsDictionary.Value("About")</a>
                    </li>
                    <li class="menu-item">
                        <a href="payment.html">@stringsDictionary.Value("Contacts")</a>
                    </li>
                </ul>
            </nav>
        </div>