@inject Umbraco.Cms.Core.Web.IUmbracoContextAccessor _context
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using System.Globalization;

@{
    var stringsDictionary = Umbraco.Content(Guid.Parse("2cfa435c-8d4d-4f65-bc8e-73d0c8e6764e"));

    if (stringsDictionary is null) throw new Exception("siteSettings is null");

    Guid downloadPageId = Guid.Parse("da6a2021-2276-429e-9944-9e83acec41e4");
    IPublishedContent? downloadPage = Umbraco.Content(downloadPageId);
    if (downloadPage is null) throw new Exception("Download page not found");

    Guid indexPageId = Guid.Parse("41e0ccdd-4a1d-4aa8-a022-abc7d5555024");
    IPublishedContent? indexPage = Umbraco.Content(indexPageId);
    if (indexPage is null) throw new Exception("index page not found");

    String currentLang = CultureInfo.CurrentUICulture.Name ?? "en";

    String indexPageUrl = indexPage.Url(currentLang);
    String downloadPageUrl = downloadPage.Url(currentLang);
}

<header class="header">
            <div class="container">
                <div class="header__inner">
                    <button class="burger" id="burgerButton">
                        <img src="@(Url.Content("~/assets/images/icons/burger.svg"))" alt="menu">
                    </button>
                    <a href="@indexPageUrl" class="logo">
                        @stringsDictionary.Value("CompanyName")
                    </a>

                    <nav class="header__navigation navigation">
                        <ul class="navigation__list">
                            <li class="menu-item ">
                                <a href="@downloadPageUrl">@stringsDictionary.Value("Solutions")</a>
                            </li>

                            <li class="menu-item">
                                <a href="">@stringsDictionary.Value("Products")</a>
                            </li>
                            <li class="menu-item">
                                <a href="">@stringsDictionary.Value("Industries")</a>
                            </li>
                            <li class="menu-item">
                                <a href="">@stringsDictionary.Value("About")</a>
                            </li>
                            <li class="menu-item">
                                <a href="">@stringsDictionary.Value("Contacts")</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__actions row">
                        <a href="#" class="button">@stringsDictionary.Value("GetInTouch")</a>
                    </div>
                </div>
            
        </header>
        <div class="mobile__nav">
            <header class="header">
                <div class="container">
                    <div class="header__inner">
                        <button class="icon close" id="closeMenu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.0001 9.8183L2.18182 0L0 2.18182L9.8183 12.0001L0.000232995 21.8182L2.18205 24L12.0001 14.1819L21.8182 24L24 21.8182L14.1819 12.0001L24.0002 2.18182L21.8184 1.07288e-06L12.0001 9.8183Z"
                                    fill="white" />
                            </svg>
                        </button>
                        <a href="@indexPageUrl" class="logo">
                            @stringsDictionary.Value("CompanyName")
                        </a>
                        <div class="header__actions row">
                            <a href="#" class="button">@stringsDictionary.Value("GetInTouch")</a>
                        </div>
                    </div>
            </header>
            <nav class="nav" role="navigation" aria-label="mobile navigation">

                <ul class="navigation__list">
                    <li class="menu-item ">
                        <a href="@downloadPageUrl">@stringsDictionary.Value("Solutions")</a>
                    </li>
                    <li class="menu-item">
                        <a href="">@stringsDictionary.Value("Products")</a>
                    </li>
                    <li class="menu-item">
                        <a href="">@stringsDictionary.Value("Industries")</a>
                    </li>
                    <li class="menu-item">
                        <a href="">@stringsDictionary.Value("About")</a>
                    </li>
                    <li class="menu-item">
                        <a href="">@stringsDictionary.Value("Contacts")</a>
                    </li>
                </ul>
            </nav>
        </div>